.body{
    background-color: #1C1F24;
}

.body--content{
    color: white;
    text-align: left;
    width: 718px;
    padding: 3rem;
}

.body--content h1{
    font-family: Poppins;
    font-size: 48px;
    padding-bottom: 2rem;
}

.header--content h3{
    font-family: Inter;
    font-size: 18px;
}

.body--buttons{
    font-size: 18px;
    display: flex;
    padding-left: 3rem;
    justify-content: left;
    align-items: center;
}

.body--buttons button{
    padding: 5px;
    margin: 10px;
}

.body--image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.body--cards{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 5rem;
    padding-left: 8rem;
    padding-right: rem;
}

.body--card{
    Width: 250px;
    Height: 192px;
    border: 0.25px solid white;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}


.body--card h1{
    color: white;
    font-size: 22px;
}

.body--card h3{
    color: white;
    font-size: 16px;
}

.body2--content{
    display: flex;
    justify-content: space-between;
    padding: 5rem;
}

.body2--text{
    color: white;
    Width: 584px;
    Height: 318.03px;
    padding-top: 10rem;
}

.body2--text h1{
    font-family: Poppins;
    font-size: 48px;
    padding-bottom: 2rem;
}

.body2--text h3{
    font-family: Poppins;
    font-size: 16px;
    padding-bottom: 2rem;
}

.body2--text button{
    padding: 5px;

}

.body3--content{
    padding: 5rem;
}

.body3--header{
    color: white;
    text-align: center;
    justify-content: center;
}

.body3--header h1{
    font-size: 48px;
}

.body3--header h3{
    font-size: 16px;
}

.body3--cards{
    display: flex;
    justify-content: space-between;
    padding: 8rem;
}

.cards--left .card{

    color: white;
    border: 2px solid white;
    padding: 1rem;
    margin-bottom: 2rem;
}

.cards--left img{
    padding-top: 1rem;

}

.cards--right .card{
    display: flex;
    color: white;
    border: 2px solid white;
    padding: rem;
    margin-bottom: 2rem;
}

.cards--right h3{
    display: flex;
    color: white;
    padding: 2rem;
    justify-content: center;
    text-align: center;
}

.cards--right img{
    padding-top: 1rem;
    padding-left: 1rem;
}

.body4--content{
    display: flex;
    align-items: center;
    justify-content: center;

}

.body4--background{
    Width: 932.41px;
    Height: 896px;
    background-image: url('../images/4.png');
    display: f;
    align-items: center;
    justify-content: center;
}

.body4--text{
    color: white;
    font-size: 30px;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 22rem;
    
}

.body4--background button{
    margin-top: 5rem;
    padding: 10px;
    margin-left: 25.5rem;
}

.body5--box{
    margin-top: 5rem;
    margin-left: 10rem;
    margin-right: 10rem;
    display: flex;
    justify-content: space-between;

}

.body5--left{
    margin-left: 1rem;
    margin-right: 1rem;
    width: 40rem;
    padding-top: 5rem;
    padding-left: 2rem;
    border: 2px solid white;
}

.body5--left h1{
    color: white;
}

.body5--left button{
    margin-top: 1rem;
    padding: 5px;
}

.body5--right{
    border: 2px solid white;
}

.body5--right--top{
    display: flex;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    justify-content: space-between;
    flex-direction: row;
}

.body5--right--top h3{
    color: #9977D4;
}

.al-arrow{
    transform: rotate(270deg);
    object-fit: contain;
}

.anchor{
    display: flex;      
    align-self: center;
}

.body5--right--bottom{
    display: flex;
    justify-content: space-between;
}

.body5--cards{
    color: white;
    width: 30rem;
    padding: 2rem;
}

.body5--right--bottom--desc{
    margin: 3rem;
    color: white;
}

.body5--profile .card{
    color: white;
    display: flex;
    padding-top: 6rem;
}

.body5--profile img{
    padding-right: 1rem;
}

