.footer{
    background-color: #1C1F24;
        display: flex;
        justify-content: space-between;
        padding: 1rem;
}

.footer--right{
    margin: 5rem;
    width: 20rem;
    margin-bottom: 1rem;
}

.sm--logo{
    display: flex;
    justify-content: center;
}

.sm--links{
    padding-top: 1rem;
    display: flex;
    justify-content: center;
}

.sm--links img{
    padding-left: 1rem;
}

.footer--left{
    display: flex;
    justify-content: space-between;
    width: 60rem;
    margin-top: 5rem;
    margin-right: 10rem;
    margin-bottom: 1rem;
    
}

.footer--left h3{
    color: white;
}

.footer--left p{
    color: #959595;
    padding-top: 2rem;
}